nuxeo-birt-reporting/src/main/resources/schemas/birtreport.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/birtreport"
  xmlns:nxs="http://nuxeo.org/schemas/birtreport">

  <xs:include schemaLocation="birtreportparameters.xsd" />

  <xs:element name="oldModelRef" type="xs:string"/>
  <xs:element name="modelRef" type="xs:string"/>
  <xs:element name="reportKey" type="xs:string"/>
  <xs:element name="parameters" type="nxs:birtParameterList" />

</xs:schema>
