nuxeo-birt-reporting/src/main/resources/schemas/birtreportparameters.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="parameter">
    <xs:sequence>
      <xs:element name="pName" type="xs:string" minOccurs="0"
        maxOccurs="unbounded" />
      <xs:element name="pValue" type="xs:string" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="birtParameterList">
    <xs:sequence>
      <xs:element name="item" type="parameter" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
